
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>test</title>
    @Scripts.Render("~/bundles/jquery")
    <script type="text/x-handlebars" id="demo">
       hhhhhhhhhhhhhhhhhhhhhhhhh
        <br />
        
        <br />
        
    </script>
</head>
<body>
    <div> 
    </div>
</body>
</html>
